Source: balance-logic
Maintainer: Anton Kortunov <toshik@yandex-team.ru>
Section: python
Priority: optional
Build-Depends: python-setuptools (>= 0.6b3), debhelper (>= 7), python-support (>= 0.8.4)
Standards-Version: 3.7.2
XS-Python-Version: >= 2.6

Package: python-balancelogic
Architecture: all
Depends: ${python:Depends}
XB-Python-Version: ${python:Versions}
Provides: ${python:Provides}
Description: A library implementing balance logic for distributed storages.

